:root {
    --blue: #18a0fb;
}

.operations__tab-container > .btn:focus {
    outline: 0 !important;
    box-shadow: none !important;
}
.operations__tab {
    border-top: 3px solid transparent;
}
.operations__tab--active {
    border-top: 3px solid #4086f0 !important;
    border-radius: 0px !important;
}

.operations__tab--active {
    border-top: 5px solid red;
}

.operations__content {
    display: none;
    margin-top: 1rem;
}

.operations__content--active {
    display: block;
}

.submitbox {
    max-width: 100%;
    min-width: 100%;
}

/* W3School */
.operations input:not([type="file"]),
.operations textarea {
    padding: 10px;
    width: 50%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
}
.operations select {
    padding: 5px;
    width: 50%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
}
input#programimg {
    width: 300px;
}
/* Mark input boxes that gets an error on validation: */
.operations input.invalid {
    background-color: #ffdddd;
}

button {
    background-color: #4086f0;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#reset,
#cancel {
    background-color: #bbbbbb;
}

#programpreview {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
}

/* for Users / Create */
.userscreate select,
.userscreate input:not([type="file"]):not([type="radio"]),
.userscreate textarea {
    width: 300px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #aaaaaa;
}
.batinput {
    /* width: 100% !important; */
}
.userscreate input.form-control {
    width: 300px;
}
.userscreate input:focus-visible,
.userscreate textarea:focus-visible {
    outline-color: #4086f0;
}
#profilepreview,
#guardianfirstpreview,
#guardiansecpreview {
    max-width: 150px;
    min-width: 150px;
    min-height: 150px;
    max-height: 150px;
    border-radius: 50%;
    border: 2px solid var(--blue);
    object-fit: contain;
}
.profile_same_height {
    min-height: 38rem;
}
.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
    border-radius: 20px;
}
.toggle.ios .toggle-handle {
    border-radius: 20px;
}

/* for Roles Create */
.rolescreate select,
.rolescreate input:not([type="file"]):not([type="radio"]),
.rolescreate textarea {
    width: 300px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #aaaaaa;
}
.rolescreate input.form-control {
    width: 300px;
}
.rolescreate input:focus-visible,
.rolescreate textarea:focus-visible {
    outline-color: #4086f0;
}

.custom-control.custom-switch {
    column-count: 2;
}

/* Program Index */
img.imgcol {
    width: 200px;
    height: 50px;
    object-fit: cover;
    object-position: center;
}
.allprogram input[type="search"]:focus {
    outline: 0 !important;
    box-shadow: none !important;
}
.allprogram tr.odd,
.allprogram tr.even {
    border: 1px solid white !important;
    background-color: transparent !important;
}
